*{
    box-sizing: border-box;
}

/* header */

#logo{

    height: 100px;

    vertical-align: middle;

}

h1{
    display: inline-block;

    font-size: 50px;
}

/* fina header */


/* nav */

button{

    padding: 8px;

    border-radius: 10px;
    
}

#add-task{
    background-color: lightblue;
    color: white;
    border: none;
}

#add-section{
    
    border-color: grey;
    border: 1px solid grey;

    color: grey;
}

/* fina nav */

