*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    font-family: sans-serif;

    background-color: #F6F8F9;
}

/* header */

header{
    background-color: #FFFFFF;

    padding: 20px;

    margin-bottom: 70px;
}

#logo{

    vertical-align: middle;

}

h1{
    display: inline-block;

    vertical-align: middle;

    font-size: 50px;
    
}

/* fina header */


/* nav */

nav{
    width: 1000px;

    margin: auto;
    margin-bottom: 5px;

    background-color: #FFFFFF;
}

#buttons{
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 50px;

}

button{

    padding: 8px;

    border-radius: 10px;
    
}

#add-task{
    background-color: #45ABEA;
    color: white;
    border: none;
}

#add-section{
    
    border-color: #C9CED3;
    border: 1px solid #C9CED3;

    background-color: white;
    color: #C9CED3;
}

/* fina nav */


/* main */

main{
    width: 1000px;

    margin: auto;

    padding: 25px 50px;

    background-color: #FFFFFF;
}

/* fine main */

/* sezione new task */

.task-element{
    padding-bottom: 30px;
}

ul{
    list-style-type: none;
}

.mini-circle{

    display: inline-block;

    width: 15px;
    height: 15px;

    border-radius: 50%;
    
    font-size: 10px;
    text-align: center;

}

.green-circle{
    border: 1px solid #80CDBC;
    color: #80CDBC;
}

.rectangle{

    display: inline-block;

    padding: 8px 14px;

    border-radius: 16px;

    font-size: 12px;
    color: white;
}

.blue{

    background-color: #45ABEA;

}


/* fina sezione new task */


/* sezione today */

.violet{
    background-color: #9C72E4;
}

.red-circle{
    border: 1px solid #ED7671;
    color: #ED7671;
}

.green{
    background-color: #64C0A9;
} 

.orange{
    background-color: #F29E33;
}

/* fine sezione today */


/* sezione upcoming */

.pink{
    background-color: #D863A1;
}

.yellowgreen{
    background-color: #B0C926;
}

/* fine sezione upcoming */




